{% extends 'frontoffice/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="h-screen w-full flex justify-center items-center border-2 border-red-600">
    <div class="m-auto p-10 bg-cyan-950 text-white w-1/2 flex flex-col justify-center items-center rounded-md">
        <p class="text-center text-xl font-bold pb-4 mb-4 border-b border-white w-full">Se connecter</p>
        <form class="flex flex-col gap-8 w-full items-center justify-around h-3/4">
            <div class="flex flex-col justify-center gap-2 w-1/2">
                <label for="email" class="text-md uppercase font-bold">Email</label>
                <input type="text" name="email" class="w-full h-10"></input>
            </div>
            <div class="flex flex-col justify-center gap-2 w-1/2">
                <label for="password"  class="text-md uppercase font-bold">Mot de passe</label>
                <input type="text" name="password" class="w-full h-10"></input>
            </div>
            <div class="flex flex-col justify-center gap-2 w-1/2 mt-4">
                <input type="submit" name="submit" class="bg-rose-600 w-1/2 rounded-md h-10 mx-auto"></input>
            </div>
        </form>
    </div>
</div>
{% endblock %}