<div class="bg-cyan-950 fixed w-full">
    <div class="flex align-middle justify-between p-4 container mx-auto">
        <nav class="flex gap-4 text-white font-bold">
            <a href="?action=home">Accueil</a>
            <a href="?action=blog">Blog</a>
        </nav>
        <div class="text-white">
            logo
        </div>
        <nav class="flex gap-4 text-white font-bold">
            <a href="?action=connexion">Connexion</a>
            <a href="?action=login">Inscription</a>
        </nav>
    </div>
</div>